@import url(./reset.css);

@font-face {
  font-family: "Chronicle Display";
  src: url("../public/fonts/ChronicleDisp-Roman.woff") format("woff"),
    url(../public/fonts/ChronicleDisplay-XLight.woff) format("woff");
}

body {
  font-family: "Chronicle Display", sans-serif;
  color: #333;
  width: auto;
  height: 100vh;
}

a,
a:hover {
  color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------------------- */

.main-menu {
  font-size: 7vh;
  font-weight: 325;
  line-height: 10vh;
  letter-spacing: 0em;
  text-align: center;
}

.sub-menu {
  font-size: 3.5vh;
  font-weight: 325;
  line-height: 5vh;
  letter-spacing: 0em;
}

/* -------------------------------------------------------------------- */

.hidden {
  display: hidden;
  text-align: center;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

#slideUp:hover  {
  display: block;
  position: relative;
  animation: 1s slideUp cubic-bezier(1, 0, 0, 1) forwards 1;
}

.fadeIn:hover{
  animation: 1s fadeIn cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards 1;
  /* animation-play-state: paused; */
}

@keyframes slideUp {
  0% {
    top: 0px;
  }
  100% {
    top: -100px;
  }
 /*  80% {
    top: -50px;
  }
  100% {
    top: 0px;
  } */
}

@keyframes fadeIn {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    top: 0;
  }
  100% {
    top: 1rem;
  }
}

/* 
.animations {
  display: flex;
  padding: 80px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #f3d2d2, white, #cee5f3);
}
.animations > div {
  width: 200px;
  height: 200px;
  margin: 40px;
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animations > p {
  color: black;
  flex: 1;
  text-align: center;
}
.animations .animated-box {
  flex: 2;
  width: 100%;
  background: grey;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.animated-box.scale-up {
   animation: scale-down 0.5s ease forwards;
}
.animated-box.scale-up:hover {
   animation: scale-up 0.5s ease forwards;

}
.animated-box.scale-up-with-mouseout {
  transition: transform 0.5s ease-in;
}
.animated-box.scale-up-with-mouseout:hover {
  transform: scale(1.2);
}
 
  
@keyframes scale-up {
  100% {transform: scale(1.2)};
  0%{transform: scale(1)};
}
  
@keyframes scale-down {
  0% {transform: scale(1.2)};
  100%{transform: scale(1)};
} */

