/*  GLOBALS */

@import url(./reset.css);

@font-face {
  font-family: "Chronicle Display";
  src: url("../public/fonts/ChronicleDisp-Roman.woff") format("woff"),
       url(../public/fonts/ChronicleDisplay-XLight.woff) format("woff");
}

body {
  font-family: 'ChronicleDisp-Roman', sans-serif;
  color: #333;
  width: auto;
  height: 100vh;
}

.wrapper {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

/*  MAIN MENU - 2-Figma-216104-Main-Menu */

.main-menu {
  font-size: 7vh;
  font-weight: 325;
  line-height: 10vh;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

/* NAVBAR - Vertical Text - Figma-2161110, 2161111 */

.sideways-text {
  height: 80%;
  /* sideways */
  text-orientation: sideways-right;
  writing-mode: sideways-lr;
  -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: vertical-lr;
  /* font  */
  font-weight: 275;
  font-size: 2.5vh;
  line-height: 1.3vh;
  /* 24px */
  /* identical to box height */
  color: #000000;
  gap: 3vh;
  padding: 1.5vw;
  min-width: 6vw;
}

.vertical-text {
  font-family: 'Chronicle Display XLight', sans-serif;
  color: #333;
  width: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 20px;
  text-align: center;
  z-index: 999;
  pointer-events: none;
  -webkit-transform: rotate(-90deg);
  transform: translate3d( 0, 0, 0) rotate(-90deg);
  z-index: 100;
}

.nav-body {
  height: 80%;
  width: auto;
}

/* MAIN - Figma-2161110, 2161111  */

.main-body {
  height: 80%;
  width: 80%;
}

img.central-logo__contact {
  height: 2vh;
}

.main-body__main-content {
  text-align: center;
  font-size: 4vh;
  font-weight: 275;
  letter-spacing: 0em;
  color: #000000;
  white-space: nowrap;
}

.main-body__content {
  font-size: 2vh;
}

.ico-facebook, .ico-instagram {
  height: 4vh;
}

/* MAIN - Figma-2161111  */

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: none;
}

.gray {
  background-color: #c4c4c4;
  width: 15vw;
  height: 40vh;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* MAIN - Figma-216103  */

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(25vh, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(auto-fit, 1fr));
  grid-gap: 1vh 0vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.grid-container>div {
  text-align: center;
  font-size: 3vh;
}

.card-text-vbig {
  height: 33.3vh;
}

.card-title {
  font-size: 2.5vh;
  text-align: left;
}

.card-body {
  font-size: 1.5vh;
  text-align: left;
}

.img-vbig {
  /*  width: 100%; */
  height: 33.3vh;
}

.img {
  width: 70%;
  max-height: fit-content;
  /* height: 33.3vh; */
  /* height: 24vh; */
  /* width: 90%;
  clip-path: rect(10vh,300px,200px,0px); */
}

@media only screen and (max-width: 1300px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(20vh, 1fr));
    grid-template-rows: 33vh 33vh 33vh;
    grid-auto-rows: repeat(3, minmax(20vh, 1fr));
    grid-auto-flow: dense;
    background-color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    grid-gap: 2vh 0vw;
    text-align: center;
  }
  .card-body {
    font-size: 1.5vh;
    text-align: left;
    width: 100%;
  }

}