.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(110px, 3fr));
    grid-gap: 0.5rem;
    /* border: 1px solid black */
    margin-top: 20px;
    justify-items: center;
  /*   align-content: center; */
}   

